# tinyrox says don't edit this manually, but it can't stop you!

export(oauth_authorize_url)
export(oauth_bearer)
export(oauth_cache_path)
export(oauth_client)
export(oauth_exchange_code)
export(oauth_expired)
export(oauth_import_httr)
export(oauth_jwt_payload)
export(oauth_refresh)
export(oauth_request)
export(oauth_token)
export(oauth_token_authcode)
export(oauth_token_client)
export(oauth_token_openai_codex)
export(openai_codex_account_id)
export(openai_codex_client)

S3method(print,tinyoauth_client)
S3method(print,tinyoauth_token)

importFrom(curl,curl_escape)
importFrom(curl,curl_fetch_memory)
importFrom(curl,handle_setheaders)
importFrom(curl,handle_setopt)
importFrom(curl,new_handle)
importFrom(jsonlite,base64_enc)
importFrom(jsonlite,fromJSON)
importFrom(tools,R_user_dir)
importFrom(utils,browseURL)
